<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dandroid.lib.global">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:name=".AppContentProvider"
            android:authorities="${applicationId}.appcontentprovider"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>